/* Container holding the image and the text */
.Background {
    position: relative;
    text-align: center;
    color: #f8c37e;
    margin-bottom: 20px;
    font-size: 3.84rem;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 4.8rem;
    line-height: 1.05;
    font-weight: bold;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 body{
    background-color: #f8c37e;
  }