*{
    margin: 0;
    padding: 0;
    font-family: 'times new roamen';
    
}

}
.menu ul li:hover::after{
    width: 100%;
}
		
	    

.backgroundimage{
	background-image: url("picture1.jpg") ,
			          url("picture1.jpg");
    background-position: top, bottom;
    background-size: 1701px 1111px, 2011px 1211px;			  
	background-repeat: no-repeat, no-repeat;
			  
			  
}
form {
	font-family: 'Times new roamen';
	border: 20px solid green;
    text-align: center;
	width: 500px;
	margin-left:350px;
    
			  
}
		
h1 {
	text-align: center;
	color: blue;
	font-family:'Arial';
    font-weight: 350;
	font-size:80px;
	margin-top:101px;
}

.SubmitButton {
			
	color: white;
	width:200px;
	height:50px;
	border-radius: 30px;
	font-size: 20px;					
	margin-top: 30px;
	cursor: pointer;
    margin-bottom: 30px;
			
	background-image: linear-gradient(to left, red,green,blue);
    
}
		
.SubmitButton:hover {
    background: linear-gradient(to top, red,green);
}
		
#End_Of_HTML_Display {
	display: none;
	background-color: whitesmoke;
	border: 3px solid black;
	border-radius: 60px;
	width: 900px;
	margin-left:150px;
	margin-top:60px;
	color: black;			
	font-size:30px;
	padding: 10px;
	text-align: center;
			
}
		
#quizForm{
	background-color:whitesmoke;
	color:black;
}
		
		
		
		
.ButtonColor {
		      
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
	margin-left: 499px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    
   
}

.ButtonColor:hover {
    background-position: 100% 0;
    
    
}

.ButtonColor:focus {
    outline: none;
}

.ButtonColor {
    background-image: linear-gradient(to right, red,green,blue);
    
}

